---
layout: default
title: Updates
permalink: /updates/
---

  <h1 class="page-heading">Updates</h1>

  {% include pagination.html %}

  <p><a href="{{ '/contents.html' | prepend: site.baseurl }}">View All Posts</a></p>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
